.Button {
  align-self: center;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  height: 40px;
  background-color: #1a1a1a;
  border: none;
}

.Button:hover {
  border-color: transparent;
  background-color: #8F8E49;
  /* cursor: pointer; */
}

.Button:hover:active {
  background-color: #8F8E49 !important;
}

.Button:active {
  background-color: #1a1a1a !important;
}

.Button:focus {
  background-color: #1a1a1a;
}

.Stretch {
    width: 100%;
}