.Form {
    border: none;
    border-bottom: 1px #8F8E49 solid;
  }
  
  .Button {
    border: none;
    background-color: #8F8E49;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #1a1a1a;
  }