.PopRecipesBack {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
  }

.Recipe {
    color: #8F8E49;
    border: 1px solid #E1E1E1;
}

.Recipe:hover{
    text-decoration: none;
}

.RecipePicture {
    border-radius: 20%;
    object-fit: cover;
    margin-right: 10px;
  }